<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultaten</title>

    <link rel="stylesheet" href="css/styles.css">
</head>


<body>

    <%- include('../partials/header') %>
   
   <main method = "/resultaten" class="main2">

     <h2>De perfecte match voor:</h2>

     <!-- Hier komen de opgehaalde resultaten-->
     <section>
        <h3>Huizen in <%= stad %></h3>
        <h3>Budget: €<%= budget %> </h3> 
       
        <img src="../../static/img/house1.jpg" alt="Picture of a house">
        <p><%= housesName %></p>
        <p><%= housesKosten %></p>
        <p><%= housesStad %></p>
                
        <h4>Niet de perfecte match? Probeer het opnieuw:</h4>      
        <a href="update">Pas voorkeuren aan</a>   
     </section>

    </main>

    <%- include('../partials/footer') %>
   
</body>
</html>