<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultaten</title>

    <link rel="stylesheet" href="css/styles.css">
</head>


<body>

    <%- include('../partials/header') %>
   
   <main method = "/resultaten" class="main2">
     <h2>Resultaten</h2>

     <!-- Hier komen de opgehaalde resultaten-->
     <section>
        <img src="" alt="">
        <h3>Huizen in <%= stad %></h3>
        <h3>Budget: <%= budget %> </h3>
       
       
        <p><%= housesName %></p>
        <p><%= housesKosten %></p>
        <p><%= housesStad %></p>
                
            
               
         <a href="update">update</a>
        
     </section>

    </main>

    <%- include('../partials/footer') %>
   
</body>
</html>